# Server Configuration
PORT=5001
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb://127.0.0.1:27017/image_upload_app

# File Upload Configuration
MAX_FILE_SIZE_MB=5
UPLOAD_DIRECTORY=uploads
CLIENT_ORIGIN=http://localhost:5173
