# Server Configuration
PORT=5002
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb://127.0.0.1:27017/task_manager_app

# Security & JWT
JWT_SECRET=skillnexis_task_manager_jwt_secret_2026_super_secure_key
JWT_EXPIRES_IN=7d

# Allowed Frontend Client
CLIENT_URL=http://localhost:5175
